main {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: -10vh;
}

.card {
    background-color: var(--background-color);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
    padding: 2rem;
    margin-bottom: 5rem;
}

#info-container {
    display: flex;
}

#image-container {
    position: relative;
    width: 50%;
    margin: auto;
}

#image-container > img:first-of-type {
    width: 100%;
    max-width: 300px;
    border: 5px solid var(--main-color);
    margin-right: 1rem;
}

#image-container > img:last-of-type {
    border-radius: 50%;
    max-width: 100px;
    width: 50%;
    border: 5px solid var(--background-color);
    position: absolute;
    margin-top: -5rem;
    right: calc(-10% + 1rem);
}

#info-container > div:last-of-type {
    width: 100%;
    margin-left: 2rem;
}

#info-container > div:last-of-type > h2 {
    margin-top: 0;
    text-align: center;
}

#info-container > div:last-of-type > ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

#info-container > div:last-of-type > ul > li {
    padding: 0.5rem;
    line-height: 2rem;
    border-bottom: 1px solid var(--opacity-color);
}

#info-container > div:last-of-type > ul > li:hover {
    background-color: #eee;
}

#info-container > div:last-of-type > ul > li::before {
    content: "⚕️";
    font-size: 1.25rem;
    margin-right: 0.5rem;
    filter: hue-rotate(200deg) brightness(1.2) contrast(1.25);
}

#info-container > div:last-of-type > ul > li:first-of-type {
    border-top: 1px solid var(--opacity-color);
}

#card-details {
    display: flex;
    justify-content: space-around;
    margin: -2rem;
    margin-top: 2rem;
    background-color: var(--main-color);
    color: var(--background-color);
    text-align: center;
}

#card-details > div {
    display: flex;
    padding: 1rem;
}

#card-details > div:hover {
    transform: scale(1.1);
}

#card-details > div > img {
    width: 2rem;
    margin: auto;
    margin-right: 1rem;
    filter: brightness(10);
}

#card-details > div > span {
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

#no-details {
    text-align: center;
}

#no-details > * {
    opacity: 0.75;
}

#details-table {
    width: 100%;
}

#details-table th {
    background-color: var(--main-color);
    color: var(--background-color);
}

#details-table th,
#details-table td {
    padding: 0.5rem;
}

#details-table td::first-letter {
    text-transform: uppercase;
}

#details-table tr:nth-child(even) {
    background-color: var(--opacity-color);
}