#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    width: 10vw;
    height: 10vw;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    background: var(--main-color);
}

#logo::before,
#logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    border-radius: 50%;
}
  
#logo::before {
    z-index: -1;
    animation: grow 1.5s infinite ease-out;
}
  
#logo::after {
    z-index: -2;
    animation: grow 0.8s infinite ease-out;
}

#logo > img {
    width: 100%;
    filter: invert(1);
}
  
@keyframes grow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}