#navbar {
    display: flex;
    width: 100vw;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--opacity-color);
    background-color: var(--background-color);
    box-shadow: 0 0 5px -3px black;
    z-index: 11;
  }
  
  #navbar > a {
    display: flex;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  
  #navbar > a > img {
    width: 2.5rem;
    margin-right: 0.5rem;
  }

  .dark #navbar > a > img {
    filter: invert(1);
  }